body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

p {
    margin-bottom: 0px;
}

.container {
    padding: 20px;
}

.center {
    margin-left: 0px;
    width: calc(100% - 60px);
    height: 40vh;
    position: absolute;
    top: 20vh;
}

form {
    margin-top: 60px;
}

.phoneNoContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 2px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.phoneNo {
    flex-grow: 2;
    border: none;
    font-size: 15px;
}

.phoneNo:focus {
    outline: none;
}

button {
    border: none;
    background: transparent;
    color: #0099FF;
    cursor: pointer;
}

.prefix {
    margin-left: 10px;
}

.otp {
    width: 100%;
    border-radius: 10px;
    padding: 17px 2px;
    padding-left: 10px;
    font-size: 15px;
    border-width: 0.5px;
    border-color: grey;
}

.otp:focus {
    outline: none;
}

.verify {
    width: 90%;
    text-align: center;
    display: block;
    margin: 0 auto;
    border: 0px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #85C454;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}